<div class="wrapper-404">
    <h1 class="error-message-404">
        <p>404 PAGE NOT FOUND</p>
        <p class="message-404"><%= message %></p>
    </h1>
</div>

<link rel="stylesheet" href="/stylesheets/404.css" />