<% if session[:flash] && !session[:flash].empty? %>
    <div id="flash">
        <% @flash.flatten.each_with_index do |mssg, i| %>
            <div class="flash message-#{i+1}"><%= mssg %><div id="close">X</div></div>
        <% end %>
    </div>
<% end %>

<link rel="stylesheet" href="/stylesheets/flash.css" />