<% if session[:flash] && !session[:flash].empty? %>
    <div id="flash">
        <div id="flash-messages">
            <% session[:flash].flatten.each_with_index do |mssg, i| %>
                <div class="flash message-#{i+1}"><%= mssg %></div>
            <% end %>
        </div>
        <div id="close">&#10004;</div>
    </div>
<% end %>

<link rel="stylesheet" href="/stylesheets/flash.css" />