<div class="navbar">
  <a class="child" href="/">Home</a>
  <% if Helpers.is_logged_in?(session) %>
    <a class="child" href="/users/<%= User.find(Helpers.current_user(session)).username %>/books">My Books</a>
    <a href="/users/me">My Profile</a>
    <a href="/logout" class="child session-button logout-button">Log Out</a>
  <% else %>
    <a href="/signup" class="child session-button signup-button">Sign Up</a>
    <a href="/login" class="child session-button login-button">Log In</a>
  <% end %>
<div class="child search-container">
  <form action="/books/search_results" method="GET">
    <input id="search-bar" type="text" name="books" placeholder="Enter a book name.." />
    <ul id="search-results"></ul>
    <input id="search-submit" type="submit" value="Search">
  </form>
</div>
</div>

<link rel="stylesheet" href="/stylesheets/navbar.css" />