<form action="/login" method="post">
    <label for="username">Username:</label><br>
    <input type="text" name="username" id="username" maxlength="30"><br>
    <label for="password">Password:<label><br>
    <input type="text" name="password" id="password" maxlength="30">
    <input type="submit" name="submit">
</form>
<br>
<small><a href="/signup">Need to Sign Up?</a><small>