<h1><%= "#{@user.username}'s Profile" %></h1><hr><br>
<div class="user-info-wrapper">
    <% if @user.info %>
        <h3>About me:</h3><br>
        <% @user_info.each do |k, v| %>
            <h4 class="user-info-type"><%= "#{k}: " %></h4><br>
            <p class="user-info"><%= "#{v}" %></p><br>
        <% end %>
    <% else %>
        <p>The user has not provided any information about themselves.</p>
    <% end %>
</div>

<link rel="stylesheet" href="/stylesheets/profile.css" />

