<h1><%= "#{@user.username}'s Profile" %></h1><hr>
<h3>About me:</h3><br>
<% if @user.info %>
    <p><%= @user.info %></p>
<% else %>
    <p>The user has not provided any information.</p>
<% end %>