.user-info-type {
    font-size: 15px;
}

.user-info-wrapper {
    display: block;
    float: right;
}

.user-info {
    text-indent: 25px;
}

.user-image {
    display: block;
    float: right;
}

a, a:link, a:visited {
  color: #FFFAFA;
  text-decoration: none;
}

.edit-button {
    color: red;
    padding: 20px;
    border-radius: 30px;
    background-color: #333;
}

.edit-button:hover {
    background-color: #555;
    cursor: pointer;
}